.root {
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    overflow: hidden;
  }
  .rectangle4 {
    position: absolute;
    left: 15vh;
    top: 15vh;
    width: 35vh;
    height: 80vh;
    border-radius: 17px;
    background-color: #d9d9d9e5;
  }
  ._2310W062N005285AP302851 {
    position: absolute;
    left: -490px;
    top: 0;
    width: 1305px;
    height: 618px;
    background-image:/* webpackIgnore: true */ url('assets/_2310W062N005285AP302851.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rectangle1 {
    position: absolute;
    left: 61vh;
    top: 10vh;
    width: 100vh;
    height: 85vh;
    border-radius: 10px;
    background-color: #a24c4ccc;
    box-shadow: 20px 20px 4px 0px #00000040;
  }
  
  
  
  .rectangle2 {
    transform-origin: top left;
    position: absolute;
    left: 138px;
    top: 34px;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: #d9d9d947;
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  .rectangle3 {
    position: absolute;
    left: 51px;
    top: 34px;
    width: 68px;
    height: 30px;
    overflow: visible;
  }
  .icon {
    width: 100%;
    height: 100%;
  }
  .websiteName {
    position: absolute;
    left: 51px;
    top: 34px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }
  .textBlock {
    color: #00000080;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .textBlock2 {
    margin-top: 0;
    color: #00000080;
    font-size: 12px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
  }
  .frame2 {
    position: absolute;
    left: 17vh;
    top: 101px;
    width: 37vh;
    height: 85vh;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
  }
  .helpSupport {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    font-family: Jost, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 39px;
    
    width: 150px;
    height: min-content;
    flex-direction: column;
  }
  .rectangle6 {
    position: absolute;
    top: 38px;
    width: 29vh;
    height: 30px;
    background-color: #b6454594;
  }
  .rectangle7 {
    position: absolute;
    left: 0;
    top: 84px;
    width: 166px;
    height: 30px;
    background-color: #86393994;
  }
  .IconPeople {
    position: absolute;
    left: 5px;
    top: 75vh;
    width: 28.16px;
    height: 24.8924px;
    overflow: visible;
  }
  .icon2 {
    width: 100%;
    height: 100%;
  }
  .rectangle5 {
    position: absolute;
    left: 2px;
    top: 232px;
    width: 166px;
    height: 30px;
    background-color: #d9d9d994;
  }
  .rectangle8 {
    position: absolute;
    left: 64vh;
    top: 87vh;  /* vh is fine for vertical positioning */
    width: 90vh; /* Use vw for the width of the rectangle */
    min-height:5vh;
    border-radius: 20px;
    background-color: #d9d9d9;
    overflow: 'hidden';
     resize: 'none' ;
     box-sizing: border-box;
  }
  
  .enterText {
    color: #00000057;
    font-size: 20px;
    font-weight: 600;
    font-family: Jost, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    position: absolute;
    left: 553px;
    top: 572px;
    width: 96px;
    height: min-content;
    flex-direction: column;
  }
  