

  
  .rectangle6.expanded {
    margin-left: 250px; /* Adjust this value to match the width of the expanded sidebar */
  }
  
.rectangle6 {
    position: absolute;
    top: 12%;
    left:9%;
    width: 20%;
    height: 80%;
    background-color: rgba(248, 247, 249, 0.7);
    border-radius: 15px;
    flex-direction: column;
    padding: 6px;
    overflow-y:auto ;
    transition: margin-left 0.3s ease-in-out;
    margin-left: 60px; 
   
    
  }
  .chatbox{
    border:2px solid transparent;
    width:90%;
    height:13%;
    border-radius: 10px;
    margin:9px;
    padding:6px;
    background-color:rgba(248, 247, 249, 0.3);
    justify-content: center;
    
    flex-direction: column;

}
.chatbox div{
    justify-content: space-between;
}

.chatbox:hover{
    background-color: rgba(248, 247, 249, 0.5);
    cursor: pointer;
}

.text{
    border: 2px solid  rgba(248, 247, 249, 0.5);
    width:35%;
    padding:10px;
    border-radius: 10px;
    margin: 0px 12px;
    
    
}
.right{
    float: right;
    clear: both;
    background: #0d6efd40
}
.left{
    float: left;
    clear: both;
    background: #0000005c;
}
.rectangle1 {
    position: absolute;
    left: 43%;
    top: 12%;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(255 255 255 / 90%);
    box-shadow: 20px 20px 4px 0px #00000040;
    padding:14px 14px 5px 20px;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out; 
   
  }
.rectangle1.expanded{
    left: 50%;
    width:30%;
}
 

  .send{
    position: absolute;
    bottom: 0%;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.send img{
    height: 35px;
    width: 40px;

}

.send1 {
    width: 97%;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: rgb(225, 219, 219);
    max-height: 35px; 
    resize: none; 
    overflow-y: auto; 
    overflow-x: hidden; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
    text-align:  center 
}
  .send1::-webkit-scrollbar {
    display: none; 
  }
  
  .send1 {
    scrollbar-width: none; 
  }
  .send1:focus{
    text-align: left;
  }
  
  


@media screen and (max-width:520px){
    .rectangle1{
        display: none;
    }
    .rectangle6{
        width: 80%;
        left:2%
        
    }
    .chatbox{
        flex-direction: column;
        height: 15%;
    }
    
}
@media screen and (max-width:220px){
    .rectangle6{
        top:16%
    }
    
}