

.rectangle6 {
    position: absolute;
    top: 12%;
    left:9%;
    width: 20%;
    height: 80%;
    background-color: rgba(248, 247, 249, 0.1);
    border-radius: 15px;
    flex-direction: column;
    
  }
  .chatbox{
    border:2px solid transparent;
    width:90%;
    height:9%;
    border-radius: 10px;
    margin:9px;
    padding:6px;
    background-color:rgba(248, 247, 249, 0.3);

}
.chatbox:hover{
    background-color: #d6d0d0cc;
    cursor: pointer;
}
.rectangle1 {
    position: absolute;
    left: 43%;
    top: 12%;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(255 255 255 / 70%);
    box-shadow: 20px 20px 4px 0px #00000040;
  }
  .form-floating {
    position: absolute;
    bottom: 0%;
    width: 90%;
}
.form-control{
    border-radius: 35px;
    background-color: rgb(214 208 208 / 30%);
}
@media screen and (max-width:520px){
    .rectangle1{
        display: none;
    }
    .rectangle6{
        width: 60%;
        
    }
    .chatbox{
        flex-direction: column;
        height: 15%;
    }
    
}
@media screen and (max-width:220px){
    .rectangle6{
        top:16%
    }
    
}
